body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  font-size: 1.5rem;
  padding-top: 0.5em;
}

@media screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  .size {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: darkgrey;
  }
  .size {
    font-size: 2rem;
  }
}
